name: Build Image

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"

  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    container:
      image: quay.io/centos-bootc/builder:latest
      options: --privileged

    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Build
        run: |
          rpm-ostree compose image --format=ociarchive \
          --initialize fedora-bootc-39.yaml dest.oci-archive
          skopeo copy oci-archive:./dest.oci-archive containers-storage:ghcr.io/${{ github.repository }}:latest
          echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u $ --password-stdin
          podman push ghcr.io/${{ github.repository }}:latest

